:root {
    --primaryColor: #26b997;
    --secondaryColor: #B0A1BA;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid black;
}

/* Sidebar */
.sidebar {
    display: grid;
    /* changed to 1fr to fix padding issue */
    grid-template-columns: 1fr;
    grid-template-rows: 75px repeat(2, 1fr);
    height: 100vh;
    padding: 10px;

    background-color: var(--primaryColor);
    color: white;
}
.logo {
    display: grid;
    grid-template: 75px / 1fr 3fr;
    align-items: center;
}
.grid-symbol {
    margin-left: auto;
    display: grid;
    height: 30px;
    width: 30px;
    grid-template: repeat(6, 1fr) / repeat(2, 1fr);
    gap: 2px;
}
.one {
    grid-row: 1/5;
}
.two {
    grid-row: 5/7;
    grid-column: 1;
}
.three {
    grid-row: 1/3;
    grid-column: 2;
}
.four {
    grid-row: 3/7;
    grid-column: 2;
}
.one, .two, .three, .four {
    background-color: white;
}
.logo p {
    width: fit-content;
    font-size: 1.5rem;
    font-weight: 800;
    margin-left: 15px;
    user-select: none;
}

.important-links {
    display: grid;
    grid-template: repeat(6, 1fr) / 1fr;
    gap: 10px;
    margin-bottom: 2rem;
}
.link {
    display: grid;
    grid-template: 1fr / 1fr 3fr;
    align-items: center;
    user-select: none;
    cursor: pointer;
    transition: all 150ms ease;
}
.link:hover {
    background-color: #26ad8d;
}
.messages p {
    margin-bottom: 1px;
}
.link p {
    font-weight: bold;
    margin-left: 15px;
    margin-top: 1px;
}
.icon {
    filter: invert(100%);
    margin-left: 26px;
    width: 22px;
    user-select: none;
}

.util-links {
    display: grid;
    grid-template: repeat(3, 33px) / 1fr;
    gap: 10px;
}


/* Main Container */
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 200px 1fr;
}

/* Header */
