* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Needed this in code, inherits viewport */
html, body {
    height: 100%;
    margin: 0;
}
body {
    display: grid;
    grid-template-columns: 200px minmax(400px, calc(100vw - 200px));
    grid-template-rows: 50px 1fr;

    grid-template-areas: 
        "logo user-profile"
        "sidebar main-content";

    font-family: "Roboto", sans-serif;
    background-color: blue;
}


/* Logo */
.logo {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr;

    align-items: center;
    padding-left: 8px;
    padding-top: 5px;
    color: white;
}
.symbol {
    width: 30px;
    height: 30px;
    margin: auto 1px auto auto; /**/
    outline: 1px white solid;
    user-select: none;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1px;
}
.logo p {
    margin-left: 8px; /**/
    font-size: 1.4rem;
    font-weight: 800;
}
.item {
    background-color: white;
}
.one {
    grid-column: 1;
    grid-row: 1/5;
}
.two {
    grid-column: 1;
    grid-row: 5/7;
}
.three {
    grid-column: 2;
    grid-row: 1/3;
}
.four {
    grid-column: 2;
    grid-row: 3/7;
}


/* User Profile */
.user-profile {
    padding-right: 8px;
    padding-top: 5px;
}


/* Sidebar */
.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
    padding-left: 8px;
    padding-top: 2rem;
    padding-bottom: 5px;
}
.links {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 30px);
    row-gap: 8px;
}
.link {
    /* in line with logo symbol */
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr;

    align-items: center;
    height: 100%;
}
.icon {
    width: 21px;
    margin: auto auto auto 23px;
    filter: invert(100%);
}
.link p {
    margin-left: 9px;
    color: white;
}


/* Main Content */
.main-content {
    padding-top: 5px;
    padding-bottom: 5px;
}