* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: rgb(38, 107, 203);
    --primaryColorActive: rgb(48, 94, 159);
    --secondaryColor: rgb(32, 120, 243);
}

/* Needed this in code, inherits viewport */
html, body {
    height: 100%;
    margin: 0;
}
body {
    display: grid;
    grid-template-columns: 200px minmax(400px, calc(100vw - 200px));
    grid-template-rows: 60px 1fr;

    grid-template-areas: 
        "logo user-profile"
        "sidebar main-content";

    font-family: "Roboto", sans-serif;
}


/* Logo @topleft*/
.logo {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr;

    align-items: center;
    padding-left: 8px;
    padding-top: 5px;
    color: white;
    background-color: var(--primaryColor);
}
.symbol {
    width: 30px;
    height: 30px;
    margin: auto 1px auto auto; /**/
    user-select: none;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 2px;
}
.logo p {
    margin-left: 8px; /**/
    font-size: 1.4rem;
    font-weight: 800;
}
.item {
    background-color:whitesmoke;
}
.one {
    grid-column: 1;
    grid-row: 1/5;
}
.two {
    grid-column: 1;
    grid-row: 5/7;
}
.three {
    grid-column: 2;
    grid-row: 1/3;
}
.four {
    grid-column: 2;
    grid-row: 3/7;
}


/* Sidebar @side*/
.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 250px);
    row-gap: 2rem;

    padding: 2rem 8px 5px 8px;
    user-select: none;
    background-color: var(--primaryColor);
}
.links {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 30px);
    row-gap: 8px;
}
.link {
    /* in line with logo symbol */
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr;

    align-items: center;
    height: 100%;
    cursor: pointer;
    transition: all 150ms ease;
}
.link:hover {
    background-color: var(--primaryColorActive);
}
/* Icon Styling */
.icon {
    width: 21px;
    margin: auto auto auto 23px;
}
.link .icon {
    filter: invert(1);
}
.link p {
    margin-left: 9px;
    color: white;
    font-weight: 600;
}


/* User Profile @topright*/
.user-profile {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 250px;
    grid-template-rows: 1fr;

    padding: 5px 8px 5px 8px;
    align-items: center;
    background-color: rgb(250, 250, 250);
}
.user-search {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr;

    align-items: center;
    padding-top: 2px;
}
#search {
    margin: auto;
    width: 30px;
    filter: invert(0);
}
#user-search-text {
    width: 80%;
    height: 28px;
    border: none;
    border-radius: 1rem;
    padding: 0 1rem 0 1rem;
    font-size: 20px;
    background-color: rgb(215, 215, 215);
}
.user {
    display: grid;
    grid-template-columns: 50px 50px 1fr;
    grid-template-rows: 1fr;
}
.bell-container {
    width: 35px;
    height: 35px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 150ms ease;
    user-select: none;
}
.bell-container:active {
    background-color: rgb(199, 199, 199)
}
#bell {
    margin: auto;
    width: 25px;
    border-radius: 50%;
}
.user-profile-icon-container {
    margin: auto;
    user-select: none;

    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 300ms ease-out;
}
.user-profile-icon-container:hover {
    background-color: whitesmoke;
}
.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 0px grey;
}
.user-name {
    margin: auto;
    color: black;
    font-weight: 800;
    font-size: 14px;
}


/* Main Content @bottom half*/
.main-content {
    display: grid;
    grid-template-columns: minmax(400px, 1fr);
    grid-template-rows: 80px 1fr;
    grid-template-areas: 
        "user-banner"
        "user-cards";

    padding-top: 5px;
    padding-bottom: 10px;
}
/* User Banner */
.user-banner {
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "user-greeting user-button-container"
    ;

    align-items: center;
}
.user-greeting {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "banner-profile-icon user-greeting-text"
    ;

    align-items: center;
}
.banner-profile-icon-container {
    width: calc(55px + 8px);
    height: calc(55px + 8px);
    border-radius: 50%;
    margin: 5px 0 auto 1.5rem;
    transition: all 300ms ease-out;

    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-profile-icon-container:hover {
    background-color: whitesmoke;
}
.banner-profile-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 0px grey;
}
.user-greeting-text {
    margin-top: 8px;
}
.user-greeting-text .user-name {
    margin: 0;
    color: black;
    font-size: 1.5rem;
}

.user-button-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: 1fr;
    gap: 1rem;

    justify-content: end;
    margin-right: 2rem;
    margin-top: 10px;
}
.button {
    width: 100px;
    height: 30px;
    background-color: var(--primaryColor);
    border-radius: 1rem;

    color: white;
    font-weight: 700;
    text-align: center;
    align-content: center;
    user-select: none;
}
.button:hover {
    transform: scale(1.02);
    background-color: rgb(39, 90, 162);
}
.button:active {
    background-color: rgb(39, 80, 138);
}


/* User-Cards @bottomHalf*/
.user-cards {
    display: grid;
    grid-template-columns: 1fr 275px;
    grid-template-rows: 30px 1fr;
    grid-template-areas:
        "title title2"
        "projects-cards other-cards"
    ;
    column-gap: 1rem;

    padding-top: 1rem;
    box-shadow: inset 0px 8px 6px -6px #888;
}
.projects-cards {
    grid-column: 1;
    grid-row: 2;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    grid-template-rows: repeat(3, minmax(200px,220px));
    grid-template-areas:
        "card card2"
        "card3 card4"
        "card5 card6"
    ;
    gap: 14px;

    margin-left: 2rem;
    overflow: auto;
}
/* Title Styling */
.user-cards p {
    font-size: 14px;
    font-weight: bold;
}
.projects-title {
    margin-left: 2rem;
    align-content: center;
}
.announcements-title {
    align-content: center;
}
.card {
    width: 100%;
    height: 100%;
    background-color: black;
}